<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>
    <p-breadcrumb [model]="items" (onItemClick)="goBreadCrumd($event.item)"></p-breadcrumb>
    <p-messages [(value)]="mensajePrimeNgService.msgs"></p-messages>
    <p-panel header="Opción de busqueda de {{titulo}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="ui-grid ui-fluid">

            <div *ngFor="let item of listModelo" [ngClass]="[item.mimeType === 'application/vnd.google-apps.folder' ? 'ui-g-12 ui-md-4': 'ui-g-12 ui-md-12']">
                <p-card>
                    <div style="text-align: center;">
                        <button *ngIf="item.mimeType === 'application/vnd.google-apps.folder'" icon="fa fa-folder" pButton type="button" label="{{item.names}}" class="ui-button-secondary ui-button-block" (click)="onListarChildern(item)"></button>

                        <div *ngIf="item.mimeType !== 'application/vnd.google-apps.folder'" class="ui-inputgroup">
                            <button [disabled]="buttonAcces.btnDownload" pButton type="button" icon="{{globalConstants.icoDownload}}" pTooltip="Descargar" tooltipPosition="top" (click)="onListarChildern(item)"></button>
                            <textarea [(ngModel)]="item.names" pInputTextarea autoResize="autoResize" disabled></textarea>
                            <button [disabled]="buttonAcces.btnVisualizar" pButton type="button" icon="{{globalConstants.icoVisualizar}}" class="ui-button-warning" pTooltip="Visualizar" tooltipPosition="top" (click)="onSeleccionarMetodo(item)"></button>
                        </div>

                    </div>
                </p-card>
            </div>
        </div>
    </p-panel>
</div>

<p-dialog header="Descarga" [(visible)]="displayDescarga" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

    Realizando la descarga del registro seleccionado...!!!
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
    </div>

</p-dialog>

<p-dialog header="Visualizar" [(visible)]="displayVisualizar" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

    Generando visor del registro seleccionado...!!!
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
    </div>

</p-dialog>

<!-- <p-dialog id="panel_extranet" [header]="modeloSeleccionadoVisualizar.names" [(visible)]="displayVisualizarCustom" [modal]="true" [baseZIndex]="10000" [maximizable]="true" [style]="{width: '100vw'}">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12" desactivarClickDerecho>
            <app-panel-visor [isdataVisorCustom]="dataVisorCustom" [isVisible]="displayVisualizarCustom" [isNombreArchivo]="modeloSeleccionadoVisualizar.names">
            </app-panel-visor>
        </div>
    </div>
</p-dialog> -->

<p-dialog id="panel_extranet" [header]="modeloSeleccionadoVisualizar.names" [(visible)]="displayVisualizarCustom" [modal]="true" [autoZIndex] [maximizable]="true">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12" desactivarClickDerecho>
            <app-panel-visor [isdataVisorCustom]="dataVisorCustom" [isVisible]="displayVisualizarCustom" [isNombreArchivo]="modeloSeleccionadoVisualizar.names">
            </app-panel-visor>
        </div>
    </div>
</p-dialog>