<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>
    <p-panel header="Opción de busqueda de {{titulo}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="ui-grid ui-fluid">
            <div class="ui-g-12 ui-md-4" *ngFor="let item of listModelo">
                <p-card styleClass="ui-card-shadow">
                    <div style="text-align: center;">
                        <button icon="fa fa-folder" pButton type="button" label="{{item.names}}" class="ui-button-secondary ui-button-block" (click)="goGetFolderPorId(item)"></button>
                    </div>
                </p-card>
            </div>
        </div>
    </p-panel>
</div>