<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>
    <p-panel header="Datos Principales" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <label class="label-custom" for="dropdown-empresa">Empresa: </label>
                <p-dropdown id="dropdown-empresa" class="ui dropdown-item-text" [(ngModel)]="selectEmpresa" [options]="listItemEmpresa" placeholder="Select Compañia" optionLabel="label" (onChange)="getOnChangeEmpresa()" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label class="label-custom" for="dropdown-planta">Planta: </label>
                <p-dropdown id="dropdown-planta" class="ui dropdown-item-text" [options]="listItemPlanta" [(ngModel)]="selectedPlanta" placeholder="Select Planta" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label class="label-custom-unidad" for="dropdown-unidad">Unidad: </label>
                <input id="label-custom-unidad" type="text" [(ngModel)]="modeloItem.unidad" pInputText>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label class="label-custom-responsable-incubadora" for="dropdown-responsable">Responsable Incubadora: </label>
                <input id="label-custom-responsable-incubadora" type="text" [(ngModel)]="modeloItem.responsableIncubadora" pInputText>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label class="label-custom" for="text-hora-ingreso">Hora de Ingreso</label>
                <input id="text-hora-ingreso" type="time" [(ngModel)]="modeloItem.horaIngreso" pInputText>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label class="label-custom" for="text-hora-salida">Hora de Salida</label>
                <input id="text-hora-salida" type="time" [(ngModel)]="modeloItem.horaSalida" pInputText required>
            </div>
        </div>
    </p-panel>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <button class="button-custom" pButton type="button" label="{{globalConstants.cDesplegar}}" icon="{{globalConstants.icoDesplegar}}" (click)="goDisplayControles()"></button>
        </div>
    </div>
    <p-panel header="Información General" [toggleable]="true" [collapsed]="!displayControles" [style]="{'margin-bottom':'20px'}">
        <p-fieldset legend="Línea Genética">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgHyLine" label="HyLine" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgLohman" label="Lohman" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgRoss" label="Ross" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgCobb" label="Cobb" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgOtros" label="Otros" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-7">
                    <input id="observacionOtros" type="text" [(ngModel)]="modeloItem.observacionOtros" pInputText>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="N° de Nacimientos / Semana">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgLunes" label="Lunes" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgMartes" label="Martes" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgMiercoles" label="Miercoles" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgJueves" label="Jueves" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgViernes" label="Viernes" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgSabado" label="Sabado" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-1">
                    <p-checkbox [(ngModel)]="modeloItem.flgDomingo" label="Domingo" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label class="label-custom" for="lote">Pollos/día(promedio): </label>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <input id="promedioPollos" type="number" onClick="this.select();" [(ngModel)]="modeloItem.promedioPollos" pInputText>
                </div>
            </div>
        </p-fieldset>
    </p-panel>
    <p-panel header="Detalle" [toggleable]="true" [collapsed]="!displayControles" [style]="{'margin-bottom':'20px'}">
        <p-accordion [multiple]="true">
            <p-accordionTab header="Vacunación SubCutánea" [selected]="displayControles">
                <p-table [value]="modeloItem.listarTxVacunacionSubCutaneaMaquina" [columns]="columnasMaquina" [paginator]="true" [rows]="9" autoLayout="true" [responsive]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                            <th colspan="1">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td>
                                <span class="ui-column-title">Aguja</span> {{rowData.descripcionAguja}}
                            </td>
                            <td>
                                <span class="ui-column-title"># Máquina</span> {{rowData.nroMaquinas}}
                            </td>
                            <td>
                                <span class="ui-column-title">Modelo</span> {{rowData.descripcionModelo}}
                            </td>
                            <td>
                                <span class="ui-column-title">Equipo</span> {{rowData.codigoEquipo}}
                            </td>
                            <td>
                                <button pButton icon="{{globalConstants.icoEliminar}}" class="ui-button-danger" (click)="onToRowSelectDeleteVacunaMaquina(rowData)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-footer>
                    <div class="ui-grid ui-fluid">
                        <div class="ui-g-12">
                            <button pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" (click)="displayMaquina = true"></button>
                        </div>
                    </div>
                </p-footer>
            </p-accordionTab>
            <p-accordionTab header="Vacunas empleadas en la vacunación" [selected]="displayControles">
                <p-table [value]="modeloItem.listarTxVacunacionSubCutaneaVacuna" [columns]="columnasVacuna" [paginator]="true" [rows]="9" autoLayout="true" [responsive]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                            <th colspan="1">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri>
                        <tr>
                            <td>
                                <span class="ui-column-title">Nro</span> {{rowData.descripcionVacuna}}
                            </td>
                            <td>
                                <span class="ui-column-title">Proceso</span> {{rowData.nombreVacuna}}
                            </td>
                            <td>
                                <button pButton icon="{{globalConstants.icoEliminar}}" class="ui-button-danger" (click)="onToRowSelectDeleteVacuna(rowData)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-footer>
                    <div class="ui-grid ui-fluid">
                        <div class="ui-g-12">
                            <button pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" (click)="displayVacuna = true"></button>
                        </div>
                    </div>

                    <div class="ui-grid ui-fluid">
                        <div class="ui-g-12  ui-md-4">
                            <p-checkbox id="dropdown-antibiotico" [(ngModel)]="modeloItem.flgAntibiotico" binary="true" label="Antibiótico"></p-checkbox>
                            <label *ngIf="modeloItem.flgAntibiotico" class="label-custom" for="dropdown-antibiotico"> => SI </label>
                            <label *ngIf="!modeloItem.flgAntibiotico" class="label-custom" for="dropdown-antibiotico"> => NO </label>
                        </div>
                        <div class="ui-g-12  ui-md-4">
                            <label class="label-custom" for="dropdown-responsable">Nombre: </label>
                            <input id="label-custom-nombre-antibiotico" type="text" [(ngModel)]="modeloItem.nombreAntibiotico" pInputText>
                        </div>
                        <div class="ui-g-12  ui-md-4">
                            <label class="label-custom" for="dropdown-responsable">Dosis: </label>
                            <input id="label-custom-dosis-antibiotico" type="text" [(ngModel)]="modeloItem.dosisAntibiotico" pInputText>
                        </div>
                    </div>
                </p-footer>
            </p-accordionTab>
            <p-accordionTab header="Detalle" [selected]="displayControles">
                <div class="ui-grid ui-fluid">
                    <div class="ui-g-12">
                        <p-table [value]="modeloItem.listarTxVacunacionSubCutaneaDetalle" dataKey="descripcionProcesoSubCutanea">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3em">
                                        ...
                                    </th>
                                    <th style="width: 3em">
                                        <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                                        ...
                                    </th>
                                    <th>Equipo</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
                                <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.descripcionProcesoSubCutanea].index === rowIndex">
                                    <td colspan="3">
                                        <a href="#" [pRowToggler]="rowData">
                                            <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-fw pi-chevron-circle-right'" style="vertical-align: middle;padding-bottom: .1em;"></i>
                                            <span>{{rowData.descripcionProcesoSubCutanea}}</span>
                                        </a>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
                                <tr>
                                    <td>
                                        <label *ngIf="rowData.valor" class="label-custom" for="float-input-corta">SI </label>
                                        <label *ngIf="!rowData.valor" class="label-custom" for="float-input-corta">NO </label>
                                    </td>
                                    <td>
                                        <p-checkbox [(ngModel)]="rowData.valor" binary="true"></p-checkbox>
                                    </td>
                                    <td>{{rowData.descripcionProcesoDetalleSubCutanea}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

            </p-accordionTab>
            <p-accordionTab header="Manejo de pajilla control dentro del tanque de nitrógeno líquido" [selected]="displayControles">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <label class="label-custom">Mantener una (1) pajilla invertida por cada canastilla como medida de control de cadena de frío: </label>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <label class="label-custom">Puntaje Máximo : 0.5 </label>
                    </div>
                    <div class="ui-g-12">
                        <p-checkbox id="dropdown-antibiotico" [(ngModel)]="modeloItem.flgPorcentajeViabilidad" binary="true" label="Cumplimiento"></p-checkbox>
                        <label *ngIf="modeloItem.flgPorcentajeViabilidad" class="label-custom" for="dropdown-antibiotico"> => SI </label>
                        <label *ngIf="!modeloItem.flgPorcentajeViabilidad" class="label-custom" for="dropdown-antibiotico"> => NO </label>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Mantenimiento y Limpieza de las vacunadoras subcutánea" [selected]="displayControles">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <label class="label-custom">Asignar con una (X) las irregularidades encontradas segun la lista adjunta: </label>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <label class="label-custom">Puntaje Máximo : 1.0 </label>
                    </div>
                    <div class="ui-g-12">
                        <p-table [value]="modeloItem.listarTxVacunacionSubCutaneaIrregularidad" [columns]="columnasIrregularidad" [paginator]="true" dataKey="id" [rows]="10" autoLayout="true" [responsive]="true">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                    <!-- <th colspan="1">Acciones</th> LUIS -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex">
                                <tr>
                                    <td>
                                        <span class="ui-column-title">Nombre del Vacunador</span> {{rowData.nombreVacunador}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Codigo AF</span> {{rowData.codigoEquipo}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Irregularidad</span> {{rowData.descripcionIrregularidad}}
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Valor</span> {{rowData.valor}}
                                    </td>
                                    <!-- <td>
                                        <button pButton icon="{{globalConstants.icoEliminar}}" class="ui-button-danger" (click)="onToRowSelectDeleteIrregularidad(ri)"></button>
                                    </td> LUIS -->
                                </tr>
                            </ng-template>
                        </p-table>
                        <p-footer>
                            <div class="ui-grid ui-fluid">
                                <div class="ui-g-12">
                                    <button pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" (click)="onDisplayIrregularidad()"></button>
                                </div>
                            </div>
                        </p-footer>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Control de indice de eficiencia de vacunación" [selected]="displayControles">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <label class="label-custom">Indíce de eficiencia aceptable mayor a 99%: </label>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <label class="label-custom">Punjate Máximo : 5.5 </label>
                    </div>
                    <div class="ui-g-12">
                        <p-table [value]="modeloItem.listarTxVacunacionSubCutaneaControlEficiencia" [columns]="columnasControlEficiencia" [paginator]="true" [rows]="20" dataKey="nombreVacunador" editMode="row" autoLayout="true" [responsive]="true">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                    <th colspan="2">Acciones</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex" let-editing="editing">
                                <tr [pEditableRow]="rowData">
                                    <td class="ui-fluid">
                                        <span class="ui-column-title">Nombre del Vacunador</span> {{rowData.nombreVacunador}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Cantidad Inicial</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <span class="p-float-label">
                                                    <input id="float-input" type="number" onClick="this.select();" pInputText [(ngModel)]="rowData.cantidadInicial"> 
                                                </span>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.cantidadInicial}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Cantidad Final</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <span class="p-float-label">
                                                    <input id="float-input" type="number" onClick="this.select();" pInputText [(ngModel)]="rowData.cantidadFinal"> 
                                                </span>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.cantidadFinal}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Vac./Hora</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                {{rowData.vacunadoPorHora}}
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.vacunadoPorHora}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Puntaje Productividad</span> {{rowData.puntajeProductividad}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Controlados</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <span class="p-float-label">
                                                    <input id="float-input" type="number" onClick="this.select();" pInputText [(ngModel)]="rowData.controlados"> 
                                                </span>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.controlados}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Sin Vacunar</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <span class="p-float-label">
                                                    <input id="float-input" type="number" onClick="this.select();" pInputText [(ngModel)]="rowData.sinVacunar"> 
                                                </span>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.sinVacunar}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Heridos</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <span class="p-float-label">
                                                    <input id="float-input" type="number" onClick="this.select();" pInputText [(ngModel)]="rowData.heridos"> 
                                                </span>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.heridos}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Mojados</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <span class="p-float-label">
                                                    <input id="float-input" type="number" onClick="this.select();" pInputText [(ngModel)]="rowData.mojados"> 
                                                </span>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.mojados}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Mala Posición</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <span class="p-float-label">
                                                    <input id="float-input" type="number" onClick="this.select();" pInputText [(ngModel)]="rowData.malaPosicion"> 
                                                </span>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.malaPosicion}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Vac. Correctamente</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                {{rowData.vacunadoCorrectos}}
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.vacunadoCorrectos}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">% de Eficiencia</span> {{rowData.porcentajeEficiencia}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Puntaje de Eficiencia</span> {{rowData.puntajeEficiencia}}
                                    </td>
                                    <td class="action-td-action">
                                        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="{{globalConstants.icoEditar}}" (click)="onRowEditInit(rowData)"></button>
                                        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="{{globalConstants.icoGrabar}}" class="ui-button-success" (click)="onRowEditSave(rowData)"></button>
                                        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="{{globalConstants.icoCancelar}}" class="ui-button-danger" style="margin-left: .5em" (click)="onRowEditCancel(rowData, ri)"></button>
                                    </td>
                                    <td class="action-td">
                                        <button pButton icon="{{globalConstants.icoEliminar}}" class="ui-button-danger" (click)="onToRowSelectDeleteControlIndiceEficiencia(ri)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="ui-g-12">
                        <label class="label-custom"> <strong>Promedio / Sumatoria: </strong> </label>
                        <p-table [value]="modeloItem.listarTxVacunacionSubCutaneaPromedio" [columns]="columnasPromedio" [paginator]="true" [rows]="10" dataKey="nombreVacunador" editMode="row" autoLayout="true" [responsive]="true">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri let-editing="editing">
                                <tr [pEditableRow]="rowData">
                                    <td class="action-td">
                                        <span class="ui-column-title">Nombre del Vacunador</span> {{rowData.nombreVacunador}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Vac./Hora</span> {{rowData.vacunadoPorHora}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Puntaje Productividad</span> {{rowData.puntajeProductividad}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Controlados</span> {{rowData.controlados}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Sin Vacunar</span> {{rowData.sinVacunar}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Heridos</span> {{rowData.heridos}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Mojados</span> {{rowData.mojados}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Mala Posición</span> {{rowData.malaPosicion}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Vac. Correctamente</span> {{rowData.vacunadoCorrectos}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">% de Eficiencia</span> {{rowData.porcentajeEficiencia}}
                                    </td>
                                    <td class="action-td">
                                        <span class="ui-column-title">Puntaje de Eficiencia</span> {{rowData.puntajeEficiencia}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Productividad" [selected]="displayControles">
                <div class="ui-grid ui-fluid">
                    <div class="ui-g-12  ui-md-6">
                        <label class="label-custom"> <strong>Productividad Pollos vacunados en 1 hora:</strong>  </label>
                    </div>
                    <div class="ui-g-12  ui-md-6">
                        <label class="label-custom">Puntaje Máximo: 1.0 </label>
                    </div>
                    <div class="ui-g-12  ui-md-6">
                        <label class="label-custom">Resultado dentro de -10% de la media: </label>
                    </div>
                    <div class="ui-g-12  ui-md-6">
                        <label class="label-custom">1.0 punto</label>
                    </div>
                    <div class="ui-g-12  ui-md-6">
                        <label class="label-custom">10 - 20 % por debajo de ma media: </label>
                    </div>
                    <div class="ui-g-12  ui-md-6">
                        <label class="label-custom">0.5 punto</label>
                    </div>
                    <div class="ui-g-12  ui-md-6">
                        <label class="label-custom">21% más por debajo de la media: </label>
                    </div>
                    <div class="ui-g-12  ui-md-6">
                        <label class="label-custom">0.0 punto</label>
                    </div>
                    <div class="ui-g-12">
                        <label class="label-custom"><strong>Recomendado</strong> </label>
                    </div>
                    <div class="ui-g-12">
                        <label class="label-custom">Con una ajuga de 2500 a 2800 pollos/hora: </label>
                    </div>
                    <div class="ui-g-12">
                        <label class="label-custom">Con una ajuga de 2000 a 2200 pollos/hora: </label>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Puntaje Total Obtenido" [selected]="displayControles">
                <p-table [value]="modeloItem.listarTxVacunacionSubCutaneaResultado" [columns]="columnasResultado" [paginator]="true" [rows]="9" autoLayout="true" [responsive]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri>
                        <tr>
                            <td>
                                <span class="ui-column-title">Descripción</span> {{rowData.descripcionProcesoAgrupador}}
                            </td>
                            <td>
                                <span class="ui-column-title">Valor Esperado</span> {{rowData.valorEsperado}}
                            </td>
                            <td>
                                <span class="ui-column-title">Valor Obtenido</span> {{rowData.valorObtenido}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-footer>
                    <div class="ui-grid ui-fluid">
                        <div class="ui-g-12">
                            <button pButton type="button" label="{{globalConstants.cCalcular}}" icon="{{globalConstants.icoCalcular}}" (click)="onCalcularPuntaje()"></button>
                        </div>
                    </div>
                </p-footer>
            </p-accordionTab>
            <p-accordionTab header="Fotos" [selected]="displayControles">
                <div class="ui-grid ui-fluid">
                    <div class="ui-g-12">
                        <app-galeria-imagen (listUpdate)="listUpdate($event)"></app-galeria-imagen>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </p-panel>
    <p-footer>
        <div class="ui-grid ui-fluid">
            <div class="ui-g-12 ui-md-6">
                <label for="float-input-responsable-invetsa">Responsable Invetsa:</label>
                <textarea id="float-input-responsable-invetsa" [(ngModel)]="modeloItem.observacionInvetsa" pInputTextarea rows="5" cols="30" maxlength="500" placeholder="Ingresar Observación"> </textarea>
            </div>
            <div class="ui-g-12 ui-md-6">
                <label for="float-input-responsable-planta">Responsable Planta:</label>
                <textarea id="float-input-responsable-planta" [(ngModel)]="modeloItem.observacionPlanta" pInputTextarea rows="5" cols="30" maxlength="500" placeholder="Ingresar Observación"> </textarea>
            </div>
            <div class="ui-g-12 ui-md-6">
                <app-panel-firma-digital (vDataFirma)="modeloItem.firmaInvetsa = $event" (vDataFirmaClear)="modeloItem.firmaInvetsa = $event" [vFirmaOk]="globalConstants.cFirmaOk1" [vFirmaClear]="globalConstants.cFirmaClear"></app-panel-firma-digital>
            </div>
            <div class="ui-g-12 ui-md-6">
                <app-panel-firma-digital (vDataFirma)="modeloItem.firmaPlanta = $event" (vDataFirmaClear)="modeloItem.firmaPlanta = $event" [vFirmaOk]="globalConstants.cFirmaOk2" [vFirmaClear]="globalConstants.cFirmaClear"></app-panel-firma-digital>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="p-field">
                    <label for="nombreInvetsa">Responsable Invetsa:</label>
                    <input [disabled]="true" id="nombreInvetsa" [(ngModel)]="modeloItem.responsableInvetsa" type="text" pInputText>
                    <label for="emailInvetsa">Email:</label>
                    <input [disabled]="true" id="emailInvetsa" [(ngModel)]="modeloItem.emailFrom" type="text" pInputText>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="p-field">
                    <label for="nombrePlanta">Responsable Planta:</label>
                    <input id="nombrePlanta" [(ngModel)]="modeloItem.responsablePlanta" type="text" pInputText>
                    <label for="emailPlanta">Email:</label>
                    <input id="emailPlanta" [(ngModel)]="modeloItem.emailTo" type="text" pInputText>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onGrabar()"></button>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="onBack()"></button>
            </div>
        </div>
    </p-footer>
</div>
<p-messages [(value)]="mensajePrimeNgService.msgs"></p-messages>

<p-dialog header="Grabar" [(visible)]="displaySave" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

    Guardando Informacion...!!!
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
    </div>

</p-dialog>

<p-dialog *ngIf="displayVacuna" header="Adicionar Vacuna" [(visible)]="displayVacuna" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <label class="label-custom" for="promedio">Vacuna</label>
            <p-dropdown id="dropdown-vacuna" class="ui dropdown-item-text" [(ngModel)]="selectVacuna" [options]="listItemVacuna" placeholder="Select Vacuna" optionLabel="label" [showClear]="true"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-8">
            <label class="label-custom" for="text-nombre-vacuna">Nombre Vacuna</label>
            <input id="text-nombre-vacuna" [(ngModel)]="nombreVacuna" type="text" pInputText>
        </div>
    </div>
    <p-footer>
        <div class="ui-grid ui-fluid">
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onGrabarVacuna()"></button>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cCancelar}}" icon="{{globalConstants.icoCancelar}}" (click)="displayVacuna = false"></button>
            </div>
        </div>
    </p-footer>
</p-dialog>


<p-dialog *ngIf="displayMaquina" header="Adicionar Maquina" [(visible)]="displayMaquina" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <label class="label-custom" for="label-maquina">Aguja</label>
            <p-dropdown id="label-maquina" class="ui dropdown-item-text" [(ngModel)]="selectAguja" [options]="listItemAguja" placeholder="Select Aguja" optionLabel="label" [showClear]="true"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-6">
            <label class="label-custom" for="label-modelo">Modelo</label>
            <p-dropdown id="label-modelo" class="ui dropdown-item-text" [(ngModel)]="selectModelo" [options]="listItemModelo" placeholder="Select Modelo" optionLabel="label" (onChange)="getToObtieneAF()" [showClear]="true"></p-dropdown>
        </div>
        <div class="ui-g-12">
            <label class="label-custom" for="label-nro-maquina">Seleccionar AF's:</label>
            <p-multiSelect [options]="listItemEquipo" [(ngModel)]="selectEquipo"></p-multiSelect>
        </div>
    </div>
    <p-footer>
        <div class="ui-grid ui-fluid">
            <div class="ui-g-12  ui-md-6">
                <button pButton type="button" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onGrabarMaquina()"></button>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cCancelar}}" icon="{{globalConstants.icoCancelar}}" (click)="displayMaquina = false"></button>
            </div>
        </div>
        <p-messages [(value)]="mensajePrimeNgService.msgs"></p-messages>
    </p-footer>
</p-dialog>

<p-dialog *ngIf="displaySeleccionProceso" header="Seleccionar Procesos" [(visible)]="displaySeleccionProceso" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-table [columns]="columnasSeleccionarMaquina" [value]="listProceso" [(selection)]="selectSeleccionMaquina" dataKey="idProcesoSubCutanea" autoLayout="true" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-footer>
                <div class="ui-grid ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <button pButton type="button" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onGrabarSeleccionMaquina()"></button>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <button pButton type="button" label="{{globalConstants.cCancelar}}" icon="{{globalConstants.icoCancelar}}" (click)="onVisibleMaquina()"></button>
                    </div>
                </div>
            </p-footer>
        </div>
    </div>

</p-dialog>


<p-dialog *ngIf="displayIrregularidad" header="Seleccionar Irregularidad" [(visible)]="displayIrregularidad" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12  ui-md-6">
            <label class="label-custom" for="label-custom-nombre-vacunador">Vacunador: </label>
            <input id="label-custom-nombre-vacunador" type="text" [(ngModel)]="nombreVacunador" pInputText>
        </div>
        <div class="ui-g-12  ui-md-6">
            <label class="label-custom" for="label-custom-dosis-nro-af">Nro AF: </label>
            <p-dropdown id="label-custom-dosis-nro-af" class="ui dropdown-item-text" [options]="listItemEquipo" [(ngModel)]="selectNumeroAF" placeholder="Select AF" optionLabel="label" [showClear]="true"></p-dropdown>
        </div>
        <div class="ui-g-12">
            <p-messages [(value)]="mensajePrimeNgService.msgs"></p-messages>
            <p-table [columns]="columnasNuevoIrregularidad" [value]="listIrregularidad" [(selection)]="selectIrregularidad" dataKey="idIrregularidad" autoLayout="true" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns">
                            <span class="ui-column-title">{{col.header}}</span> {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-footer>
                <div class="ui-grid ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <button pButton type="button" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onGrabarIrregularidad()"></button>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <button pButton type="button" label="{{globalConstants.cCancelar}}" icon="{{globalConstants.icoCancelar}}" (click)="onDisplayIrregularidad()"></button>
                    </div>
                </div>
            </p-footer>
        </div>
    </div>

</p-dialog>