@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

:host ::ng-deep .ui-button {
    margin: .5em .5em .5em 0;
    width: 140px;
}

@media screen and (max-width: 40em) {
     :host ::ng-deep .ui-dialog {
        width: 75vw !important;
    }
}