<div class="login-body">
    <div class="body-container">
        <div class="ui-g">
            <div class="ui-g-12 ui-lg-6 left-side">
                <img src="assets/layout/images/logo-invetsa.png" alt="apollo-layout" class="logo" />
                <!-- <h1>Bienvenido</h1>
                <p>
                    Regístrese para iniciar su sesión
                </p> -->
            </div>
            <div class="ui-g-12 ui-lg-6 right-side">
                <div class="login-wrapper">
                    <div class="login-container">
                        <span class="title">
                            Iniciar sesión</span>

                        <div class="ui-g ui-fluid">
                            <form [formGroup]="formularioLogin">
                                <div class="ui-g-12">
                                    <p-dropdown [options]="listItemDataBase" optionLabel="label" formControlName="dataBase" placeholder="Select a Sociedad" (onChange)="onChangeDataBase()"></p-dropdown>
                                    <div *ngIf="formularioLogin.controls['dataBase'].errors && formularioLogin.controls['dataBase'].dirty">
                                        <p-message severity="error" text="Sociedad es requerido" *ngIf="formularioLogin.controls['dataBase'].errors['required']"></p-message>
                                    </div>
                                </div>
                                <div class="ui-g-12">
                                    <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                                        <input id="id-usuario" type="text" class="ui-inputtext ui-widget" placeholder="Username" formControlName="login" autocomplete="off">

                                    </div>
                                    <div *ngIf="formularioLogin.controls['login'].errors && formularioLogin.controls['login'].dirty">
                                        <p-message severity="error" text="Usuario es requerido" *ngIf="formularioLogin.controls['login'].errors['required']"></p-message>
                                        <p-message severity="error" text="Usuario debe tener un minimo de 4 caractares." *ngIf="formularioLogin.controls['login'].errors['minlength']"></p-message>
                                    </div>
                                </div>
                                <div class="ui-g-12">
                                    <div class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                                        <input type="password" class="ui-inputtext ui-widget" placeholder="Password" formControlName="password" autocomplete="off" feedback="false" />
                                    </div>
                                    <div *ngIf="formularioLogin.controls['password'].errors && formularioLogin.controls['password'].dirty">
                                        <p-message severity="error" text="Contraseña es requerido" *ngIf="formularioLogin.controls['password'].errors['required']"></p-message>
                                        <p-message severity="error" text="Contraseña debe tener un minimo de 6 caractares." *ngIf="formularioLogin.controls['password'].errors['minlength']"></p-message>
                                    </div>
                                </div>
                            </form>
                            <div class="ui-g-12">
                                <p-messages [(value)]="mensajePrimeNgService.msgs"></p-messages>
                            </div>
                            <div class="ui-g-12 ui-lg-6">
                                <button type="submit" [disabled]="!formularioLogin.valid" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only green-btn" (click)="onClickLogin()" pButton>
                                  <span class="ui-button-text ui-c">
                                    <img src="assets/layout/images/check.svg" alt="login" style="height: 13px;width: 16px;float: left;margin-top: 3px">
                                    Login
                                  </span>
                                </button>
                            </div>
                            <!-- <div class="ui-g-12 ui-lg-6 password-container">
                                <a href="#">¿Olvidaste tu contraseña?</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Sincronizando" [(visible)]="displayTraeData" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p></p>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12" style="text-align: center;">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
        </div>
    </div>

    <p-footer>
        <p>{{displayMensaje}}</p>
    </p-footer>
</p-dialog>