<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>
    <!-- filtros -->
    <p-panel header="Opcion de busqueda de {{titulo}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-3">
                <label for="dropdown-empresa" class="label-custom">Empresa: </label>
                <p-dropdown inputId="dropdown-empresa" class="ui dropdown-item-text" [options]="listItemEmpresa" [(ngModel)]="selectedEmpresa" (onChange)="getOnChangeEmpresa()" placeholder="Select Empresa" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="dropdown-planta" class="label-custom">Planta: </label>
                <p-dropdown inputId="dropdown-planta" class="ui dropdown-item-text" [options]="listItemPlanta" [(ngModel)]="selectedPlanta" (onChange)="getOnChangePlanta()" placeholder="Select Planta" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="dropdown-modelo" class="label-custom">Modelo: </label>
                <p-dropdown inputId="dropdown-modelo" class="ui dropdown-item-text" [options]="listItemModelo" [(ngModel)]="selectedModelo" (onChange)="getOnChangeModelo()" placeholder="Select Modelo" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="dropdown-equipos" class="label-custom">Equipos: </label>
                <p-dropdown inputId="dropdown-equipos" class="ui dropdown-item-text" [options]="listItemEquipo" [(ngModel)]="selectedEquipo" placeholder="Select Equipo" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="dropdown-componentes" class="label-custom">Componentes: </label>
                <p-dropdown inputId="dropdown-componentes" class="ui dropdown-item-text" [options]="listItemRepuesto" [(ngModel)]="selectedRepuesto" placeholder="Select Componente" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="dropdown-tecnico" class="label-custom">Técnico: </label>
                <p-dropdown inputId="dropdown-tecnico" class="ui dropdown-item-text" [options]="listItemTecnico" [(ngModel)]="selectedTecnico" placeholder="Select Tecnico" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-6">
                <label for="dropdown-dash" class="label-custom">Tipo de Dashboard: </label>
                <p-dropdown inputId="dropdown-dash" class="ui dropdown-item-text" [options]="listItemDashboard" [(ngModel)]="selectedDashboard" placeholder="Select Dashboard" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="float-input-fecha-ini" class="label-custom">Periodo Inicio: </label>
                <p-calendar id="float-input-fecha-ini" placeholder="Seleccionar Fecha Inicio" [(ngModel)]="selectedFechaInicio" [showButtonBar]="true" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="float-input-fecha-fin" class="label-custom">Periodo Fin: </label>
                <p-calendar id="float-input-fecha-fin" placeholder="Seleccionar Fecha Fin" [(ngModel)]="selectedFechaFin" [showButtonBar]="true" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="getToListadoLlenar();" class="btn btn-block sba-button"></button>
            </div>

        </div>
    </p-panel>

    <p-panel header="Dashboards - Mantenimiento" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="ui-g ui-fluid">
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash === 1 || isValueDash === 0">
                <div>
                    <h3>Visitas mensuales de mantenimiento</h3>
                    <p-chart type="bar" [data]="visitasMensualesMantenimientoData" [options]="barOptions" height="50vh"></p-chart>
                </div>
            </p-card>

            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash === 2 || isValueDash === 0">
                <div>
                    <h3>Numero de visitas por empresa</h3>
                    <p-chart type="pie" [data]="plantasVisitadasClienteData" [options]="pieOptions" height="50vh"></p-chart>
                </div>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash === 3 || isValueDash === 0">
                <div>
                    <h3>Numero de visitas por planta</h3>
                    <p-chart type="pie" [data]="numeroVisitasPlantaData" [options]="pieOptions" height="50vh"></p-chart>
                </div>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash === 4 || isValueDash === 0">
                <div>
                    <h3>Mantenimiento por modelo de maquina</h3>
                    <p-chart type="pie" [data]="mantenimientoTipomaquinaData" [options]="pieOptions" height="50vh"></p-chart>
                </div>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash === 5 || isValueDash === 0">
                <div>
                    <h3>Numero de repuestos por periodo</h3>
                    <p-chart type="pie" [data]="numeroRepuestosPeriodoData" [options]="pieOptions" height="50vh"></p-chart>
                </div>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash === 6 || isValueDash === 0">
                <div>
                    <h3>Numero de repuestos por equipo</h3>
                    <p-chart type="pie" [data]="numeroRepuestosEquipoData" [options]="pieOptions" height="50vh"></p-chart>
                </div>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash === 7 || isValueDash === 0">
                <div>
                    <h3>Inventario de consumibles</h3>
                    <p-chart type="pie" [data]="numeroConsumiblesEquipoData" [options]="pieOptions" height="50vh"></p-chart>
                </div>
            </p-card>

        </div>
    </p-panel>


</div>