<div class="ui-g">
    <div class="ui-g-12 ui-md-6">
        <!-- <div class="card">
            <p-carousel [value]="carouselCars" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
                <ng-template let-data pTemplate="item" let-rowIndex="rowIndex">
                    <div class="car-details">
                        <div class="p-grid p-nogutter">
                            <div class="p-col-12">
                                <img [src]="data.imagen" style="width: 100%; display: block;" />
                            </div>
                            <div class="p-col-12 car-data">
                                <div class="car-buttons">
                                    <button pButton type="button" class="btn btn-block ui-button-danger" (click)="deleteItem(data)" icon="pi pi-trash"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div> -->
        <p-dataView [value]="carouselCars" [paginator]="true" [rows]="1">
            <ng-template let-data pTemplate="listItem">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <img [src]="data.imagen" style="width: 100%; display: block;" />
                        <!-- <button pButton type="button" class="btn btn-block ui-button-danger" (click)="deleteItem(data)" icon="pi pi-trash"></button> -->
                    </div>
                    <div class="ui-g-12">
                        <!-- <img [src]="data.imagen" style="width: 100%; display: block;" /> -->
                        <button pButton type="button" class="btn btn-block ui-button-danger" label="Eliminar" (click)="deleteItem(data.imagen)" icon="pi pi-trash"></button>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
    <div class="ui-g-12 ui-md-6">
        <app-capturar-imagen (vImagenBase64)="newImg($event)"></app-capturar-imagen>
    </div>
</div>