.action-td {
    text-align: center;
    width: 4em;
}

@media screen and (max-width: 40em) {
     :host ::ng-deep .ui-dialog {
        width: 75vw !important;
    }
}

div {
    margin-bottom: 10px;
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
    color: red;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
    color: green;
}