<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>
    <!-- filtros -->
    <p-panel header="Opcion de busqueda de {{titulo}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="ui-g ui-fluid">
            <div class="ui-g ui-md-3">
                <label for="dropdown-empresa" class="label-custom">Empresa: </label>
                <p-dropdown inputId="dropdown-empresa" class="ui dropdown-item-text" placeholder="Select Empresa" [options]="listItemEmpresa" [(ngModel)]="selectedEmpresa" (onChange)="getOnChangeEmpresa()" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-planta" class="label-custom">Planta: </label>
                <p-dropdown inputId="dropdown-planta" class="ui dropdown-item-text" placeholder="Select Planta" [options]="listItemPlanta" [(ngModel)]="selectedPlanta" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-invetsa" class="label-custom">Responsable Invetsa: </label>
                <p-dropdown inputId="dropdown-invetsa" class="ui dropdown-item-text" placeholder="Select Responsable" [options]="listItemResponsableInvetsa" [(ngModel)]="selectedResponsableInvetsa" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-incubadora" class="label-custom">Responsable incubadora: </label>
                <p-dropdown inputId="dropdown-incubadora" class="ui dropdown-item-text" placeholder="Select Responsable" [options]="listItemResponsableIncubadora" [(ngModel)]="selectedResponsableIncubadora" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-auditoria" class="label-custom">Tipo auditoría: </label>
                <p-dropdown inputId="dropdown-incubadora" class="ui dropdown-item-text" placeholder="Select Auditoría" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-linea" class="label-custom">Línea genética: </label>
                <p-dropdown inputId="dropdown-linea" class="ui dropdown-item-text" placeholder="Select Línea" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-vacunador" class="label-custom">Vacunador: </label>
                <p-dropdown inputId="dropdown-vacunador" class="ui dropdown-item-text" placeholder="Select Vacunador" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-dashboard" class="label-custom">Dashboard: </label>
                <p-dropdown inputId="dropdown-dashboard" class="ui dropdown-item-text" placeholder="Select Dashboard" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="float-input-fecha-ini" class="label-custom">Periodo Inicio: </label>
                <p-calendar id="float-input-fecha-ini" placeholder="Seleccionar Fecha Inicio" [showButtonBar]="true" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="float-input-fecha-fin" class="label-custom">Periodo Fin: </label>
                <p-calendar id="float-input-fecha-fin" placeholder="Seleccionar Fecha Fin" [showButtonBar]="true" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" class="btn btn-block sba-button"></button>
            </div>
        </div>
    </p-panel>

    <p-panel header="{{titulo}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="ui-g ui-fluid">


        </div>
    </p-panel>


</div>