<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>
    <!-- filtros -->
    <p-panel header="Opcion de busqueda de {{titulo}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="ui-g ui-fluid">
            <div class="ui-g ui-md-3">
                <label for="dropdown-empresa" class="label-custom">Empresa: </label>
                <p-dropdown inputId="dropdown-empresa" class="ui dropdown-item-text" placeholder="Select Empresa" [options]="listItemEmpresa" [(ngModel)]="selectedEmpresa" (onChange)="getOnChangeEmpresa()" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-planta" class="label-custom">Planta: </label>
                <p-dropdown inputId="dropdown-planta" class="ui dropdown-item-text" placeholder="Select Planta" [options]="listItemPlanta" [(ngModel)]="selectedPlanta" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-invetsa" class="label-custom">Responsable Invetsa: </label>
                <p-dropdown inputId="dropdown-invetsa" class="ui dropdown-item-text" placeholder="Select Responsable" [options]="listItemResponsableInvetsa" [(ngModel)]="selectedResponsableInvetsa" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-incubadora" class="label-custom">Responsable incubadora: </label>
                <p-dropdown inputId="dropdown-incubadora" class="ui dropdown-item-text" placeholder="Select Responsable" [options]="listItemResponsablePlanta" [(ngModel)]="selectedResponsablePlanta" optionLabel="value" optionValue="value" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-auditoria" class="label-custom">Tipo auditoría: </label>
                <p-dropdown inputId="dropdown-auditoria" class="ui dropdown-item-text" [options]="listItemTipoAuditoria" [(ngModel)]="selectedTipoAuditoria" optionLabel="label" optionValue="value" [showClear]="true" (onChange)="deactivate()"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-linea" class="label-custom">Línea genética: </label>
                <p-dropdown inputId="dropdown-linea" class="ui dropdown-item-text" placeholder="Select Línea" [options]="listItemLineaGenetica" [(ngModel)]="selectedLineaGenetica" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-vacunador" class="label-custom">Vacunador: </label>
                <p-dropdown inputId="dropdown-vacunador" class="ui dropdown-item-text" placeholder="Select Vacunador" [options]="listItemVacunador" [(ngModel)]="selectedVacunador" optionLabel="value" optionValue="value" [showClear]="true" [disabled]="isDisabled"></p-dropdown>
            </div>
            <div class="ui-g ui-md-3">
                <label for="dropdown-dashboard" class="label-custom">Dashboard: </label>
                <p-dropdown inputId="dropdown-dashboard" class="ui dropdown-item-text" placeholder="Select Dashboard" [options]="listItemDashboard" [(ngModel)]="selectedDashboard" placeholder="Select Dashboard" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="float-input-fecha-ini" class="label-custom">Periodo Inicio: </label>
                <p-calendar id="float-input-fecha-ini" placeholder="Seleccionar Fecha Inicio" [(ngModel)]="selectedFechaInicio" [showButtonBar]="true" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true" [locale]="languageService.es"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="float-input-fecha-fin" class="label-custom">Periodo Fin: </label>
                <p-calendar id="float-input-fecha-fin" placeholder="Seleccionar Fecha Fin" [(ngModel)]="selectedFechaFin" [showButtonBar]="true" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true" [locale]="languageService.es"></p-calendar>
            </div>
            <div class=" ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" class="btn btn-block sba-button" (click)="getToListadoLlenar()"></button>
            </div>
        </div>
    </p-panel>

    <p-panel header="{{titulo}}" [toggleable]="true" [style]="{ 'margin-bottom': '20px'}">
        <div class="ui-g ui-fluid">
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash===1 || isValueDash===0">
                <h3>Manipulación y dilución de la vacuna nitrogenada</h3>
                <p-chart type="horizontalBar" [data]="vacunaNitrogenadaData" [options]="vacunaNitrogenadaOptions" height="100vh"></p-chart>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash===2 || isValueDash===0">
                <h3>Manipulación y dilución de la vacuna liofilizada</h3>
                <p-chart type="horizontalBar" [data]="vacunaLiofilizadaData" [options]="vacunaLiofilizadaOptions" height="70vh"></p-chart>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash===3 && !isDisabled || isValueDash===0 && !isDisabled">
                <h3>Puntaje (Productividad)</h3>
                <p-chart type="bar" [data]="puntajeProductividadData" [options]="puntajeProductividadOptions" height="50vh"></p-chart>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash===4 && !isDisabled || isValueDash===0 && !isDisabled">
                <h3>% de eficiencia</h3>
                <p-chart type="bar" [data]="porcentajeEficienciaData" [options]="porcentajeEficienciaOptions" height="50vh"></p-chart>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash===5 || isValueDash===0">
                <h3>Puntaje total obtenido</h3>
                <p-chart type="bar" [data]="puntajeTotalData" [options]="puntajeTotalOptions" height="50vh"></p-chart>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash===6 || isValueDash===0">
                <h3>Puntaje total obtenido por plantas</h3>
                <p-chart type="line" [data]="puntajeTotalMultipleData" [options]="puntajeTotalMultipleOptions" height="50vh"></p-chart>
            </p-card>
            <p-card class="ui-g-12 ui-md-12 " *ngIf="isValueDash===7 || isValueDash===0">
                <h3>Numero de auditorias</h3>
                <p-chart type="bar" [data]="numeroAuditoriasData" [options]="numeroAuditoriasOptions" height="50vh"></p-chart>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash===8 || isValueDash===0">
                <h3>Laboratorio de preparación de vacuna</h3>
                <p-chart type="bar" [data]="laboratorioVacunaData" [options]="barOptions" height="50vh"></p-chart>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash===9 || isValueDash===0">
                <h3>Equipo INVETSA Temp y otros</h3>
                <p-chart type="bar" [data]="equipoInvetsaData" [options]="barOptions" height="70vh"></p-chart>
            </p-card>
            <p-card class="ui-g-12 ui-md-12" *ngIf="isValueDash===10 || isValueDash===0">
                <h3>Sala de vacunación</h3>
                <p-chart type="bar" [data]="salaVacunacionData" [options]="barOptions" height="50vh"></p-chart>
            </p-card>
        </div>
    </p-panel>


</div>