<div class="card card-w-title">
    <h1><strong>{{titulo}} {{idRegistroEquipo}}</strong></h1>
    <strong>Usuario Creación : {{modeloItem.usuarioCreacion}}</strong>
    <!-- Filtros -->
    <p-panel *ngIf="modeloItem" header="Principal" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <label for="empresa">Empresa</label>
                <input id="empresa" type="text" pInputText [(ngModel)]="modeloItem.descripcionEmpresa" disabled="true" />
            </div>
            <div class="ui-g-12 ui-md-4">
                <label for="planta">Planta</label>
                <input id="planta" type="text" pInputText [(ngModel)]="modeloItem.descripcionPlanta" disabled="true" />
            </div>
            <div class="ui-g-12 ui-md-4">
                <label for="modelo">Modelo</label>
                <input id="modelo" type="text" pInputText [(ngModel)]="modeloItem.descripcionModelo" disabled="true" />
            </div>
        </div>
    </p-panel>

    <p-messages [(value)]="mensajePrimeNgService.msgs"></p-messages>

    <p-panel header="Detalle" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <p-accordion>
            <p-accordionTab header="A .- Detalles de Mantenimiento y Funcionamiento de equipos">
                <p-table [value]="modeloItem.txRegistroEquipoDetalle1" dataKey="descripcion">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3em">
                                ...
                            </th>
                            <th>Equipo</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded">
                        <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.descripcion].index === rowIndex">
                            <td colspan="2">
                                <a href="#" [pRowToggler]="rowData">
                                    <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-fw pi-chevron-circle-right'" style="vertical-align: middle;padding-bottom: .1em;"></i>
                                    <span>{{rowData.descripcion}}</span>
                                </a>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-rowData>
                        <tr>
                            <td>
                                <p-checkbox name="group1" value="{{rowData.idMantenimientoPorModelo}}" [(ngModel)]="rowData.flgValor" inputId="{{rowData.idMantenimientoPorModelo}}" disabled="true" binary="true"></p-checkbox>
                            </td>
                            <td>{{rowData.codigoEquipo}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>

            <p-accordionTab header="B .- Check list de componentes">
                <p-table [value]="modeloItem.txRegistroEquipoDetalle2" dataKey="codigoRepuesto">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3em">
                                ...
                            </th>
                            <th>Equipo</th>
                            <th>M/P</th>
                            <th>R/F/C</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded">
                        <tr class="ui-widget-header" *ngIf="rowGroupMetadataDetalle2[rowData.codigoRepuesto].index === rowIndex">
                            <td colspan="4">
                                <a href="#" [pRowToggler]="rowData">
                                    <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-fw pi-chevron-circle-right'" style="vertical-align: middle;padding-bottom: .1em;"></i>
                                    <span>{{rowData.codigoRepuesto + '-' + rowData.descripcion}}</span>
                                </a>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-rowData>
                        <tr>
                            <td>
                                <p-checkbox name="group1" value="{{rowData.idRepuestoPorModelo}}" [(ngModel)]="rowData.flgValor" inputId="{{rowData.idRepuestoPorModelo}}" disabled="true" binary="true"></p-checkbox>
                            </td>
                            <td>{{rowData.codigoEquipo}}</td>
                            <td>{{rowData.mp}}</td>
                            <td>{{rowData.rfc}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>

            <p-accordionTab header="C .- Requerimientos para los equipos y condiciones de limpieza">
                <div class="ui-g dashboard">
                    <div class="ui-g-12 ui-md-6 ui-lg-6 task-list">
                        <p-panel header="Requerimientos para los Equipos">
                            <ul>
                                <li *ngFor="let item of modeloItem.txRegistroEquipoDetalle3">
                                    <p-toggleButton [(ngModel)]="item.flgValor" [style]="{'width':'100px'}" disabled="true"></p-toggleButton>
                                    <span class="task-name">{{item.descripcion}}</span>
                                    <i class="fa fa-briefcase"></i>
                                </li>
                            </ul>
                        </p-panel>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-6 task-list">
                        <p-panel header="Limpieza y esterilización">
                            <ul>
                                <li *ngFor="let item of modeloItem.txRegistroEquipoDetalle4">
                                    <p-toggleButton [(ngModel)]="item.flgValor" [style]="{'width':'100px'}" disabled="true"></p-toggleButton>
                                    <span class="task-name">{{item.descripcion}}</span>
                                    <i class="fa fa-briefcase"></i>
                                </li>
                            </ul>
                        </p-panel>
                    </div>
                </div>
            </p-accordionTab>

            <p-accordionTab header="D .- Resumen de Mantenimiento">
                <p-table [value]="modeloItem.txRegistroEquipoDetalle5" [columns]="columnasDetalle5" [paginator]="true" [rows]="globalConstants.sizePage" dataKey="idRepuestoPorModelo" editMode="row" autoLayout="true" [responsive]="true">
                    <!-- Header -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <!-- body -->
                    <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
                        <tr>
                            <td class="action-td">
                                <span class="ui-column-title">Codigo</span> {{modelo.idRepuestoPorModelo}}
                            </td>
                            <td class="ui-fluid">
                                <span class="ui-column-title">Repuesto</span> {{modelo.codigoRepuesto}}
                            </td>
                            <td class="ui-fluid">
                                <span class="ui-column-title">Activo Fijo</span> {{modelo.codigoEquipo}}
                            </td>
                            <td class="ui-fluid">
                                <span class="ui-column-title">Observación</span> {{modelo.observacion}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>

            <p-accordionTab header="E .-Inventario de consumibles">
                <p-table [value]="modeloItem.txRegistroEquipoDetalle6" [columns]="columnasDetalle6" [paginator]="true" [rows]="globalConstants.sizePage" dataKey="codigoRepuesto" editMode="row" autoLayout="true" [responsive]="true">
                    <!-- Header -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <!-- body -->
                    <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="modelo">
                            <td class="action-td-action">
                                <span class="ui-column-title">Codigo</span> {{modelo.codigoRepuesto}}
                            </td>
                            <td class="ui-fluid">
                                <span class="ui-column-title">Repuesto</span> {{modelo.descripcion}}
                            </td>
                            <td class="action-td-action">
                                <span class="ui-column-title">Stock Actual</span> {{modelo.stockActual}}
                            </td>
                            <td class="action-td-action">
                                <span class="ui-column-title">Cambio por mtto.</span> {{modelo.cambioPorMantenimiento}}
                            </td>
                            <td class="action-td-action">
                                <span class="ui-column-title">Entregado</span> {{modelo.entregado}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>

            <p-accordionTab header="F .-Inventario de repuestos">
                <p-table [value]="modeloItem.txRegistroEquipoDetalle6Repuestos" [columns]="columnasDetalle6" [paginator]="true" [rows]="globalConstants.sizePage" dataKey="codigoRepuesto" editMode="row" autoLayout="true" [responsive]="true">
                    <!-- Header -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <!-- body -->
                    <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="modelo">
                            <td class="action-td-action">
                                <span class="ui-column-title">Codigo</span> {{modelo.codigoRepuesto}}
                            </td>
                            <td class="ui-fluid">
                                <span class="ui-column-title">Repuesto</span> {{modelo.descripcion}}
                            </td>
                            <td class="action-td-action">
                                <span class="ui-column-title">Stock Actual</span> {{modelo.stockActual}}
                            </td>
                            <td class="action-td-action">
                                <span class="ui-column-title">Cambio por mtto.</span> {{modelo.cambioPorMantenimiento}}
                            </td>
                            <td class="action-td-action">
                                <span class="ui-column-title">Entregado</span> {{modelo.entregado}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>

            <p-accordionTab header="Galeria de Fotos">
                <div class="ui-grid ui-fluid">
                    <div class="ui-g-12">
                        <app-galeria-imagen [(carouselCars)]="listIma" (listUpdate)="listUpdate($event)"></app-galeria-imagen>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
        <p-footer>
            <div class="ui-grid ui-fluid">
                <div class="ui-g-12 ui-md-6">
                    <div class="p-field" style="text-align: center;">
                        <img id="firma1" [src]="modeloItem.firmaIncuba" *ngIf="modeloItem.firmaIncuba" style="width: 100%; display: block;" />
                        <hr>
                        <label for="firma1">{{globalConstants.cFirma1}}</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <div class="p-field" style="text-align: center;">
                        <img [src]="modeloItem.firmaPlanta" *ngIf="modeloItem.firmaPlanta" style="width: 100%; display: block;" />
                        <hr>
                        <label for="firma2">{{globalConstants.cFirma2}}</label>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <div class="p-field">
                        <label for="nombreInvetsa">Responsable Invetsa:</label>
                        <input [disabled]="true" id="nombreInvetsa" type="text" [(ngModel)]="modeloItem.responsableIncuba" pInputText>
                        <label for="emailInvetsa">Email:</label>
                        <input [disabled]="true" id="emailInvetsa" [(ngModel)]="modeloItem.emailFrom" type="text" pInputText>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6">
                    <div class="p-field">
                        <label for="nombrePlanta">Responsable Planta:</label>
                        <input [disabled]="true" id="nombrePlanta" type="text" [(ngModel)]="modeloItem.responsablePlanta" pInputText>
                        <label for="emailPlanta">Email:</label>
                        <input [disabled]="true" id="emailPlanta" [(ngModel)]="modeloItem.emailTo" type="text" pInputText>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <button [disabled]="modeloItem.flgCerrado" pButton type="button" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onToGrabar()"></button>
                </div>

                <div class="ui-g-12 ui-md-6">
                    <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="back()"></button>
                </div>
            </div>
        </p-footer>
    </p-panel>

</div>

<p-dialog header="Actualizar" [(visible)]="displaySave" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

    Actualizando Informacion...!!!
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
    </div>

</p-dialog>