<div oncontextmenu="return false" onkeydown="return false">
    <!-- <pdf-viewer *ngIf="strBlobURL" [src]="strBlobURL" style="display: block;" [fit-to-page]="true">
    </pdf-viewer> -->
    <!-- <object *ngIf="strBlobURL" [data]="strBlobURL" type="application/pdf" width="100%" height="100%">
    <p>Alternative text - include a link <a href="myfile.pdf">to the PDF!</a></p>
  </object> -->
    <ng-container *ngIf="file">

        <ngx-doc-viewer #visor id="visor" [url]="file" viewer="url" style="width:100vw; height:100vh;" [disableContent]="'none'">
        </ngx-doc-viewer>

    </ng-container>

</div>

<!-- <object *ngIf="strBlobURL" [data]="strBlobURL" type="application/pdf" width="100%" height="100%">
    <p>Alternative text - include a link <a href="myfile.pdf">to the PDF!</a></p>
  </object> -->

<!-- <iframe src="https://docs.google.com/viewer?url={{strBlobURL}}&embedded=true" width="600" height="780" style="border: none;"></iframe> -->

<!-- <embed *ngIf="strBlobURL" [src]="strBlobURL" type="application/pdf" width="100%" height="600px" /> -->

<!-- <object *ngIf="strBlobURL" [data]="strBlobURL" type="application/pdf" width="100%" height="600px"></object> -->

<!-- <iframe *ngIf="strBlobURL" [src]="strBlobURL" width=100% height=600></iframe> -->