<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <p-panel header="Datos Principal" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-3">
                <label class="label-custom" for="dropdown-empresa">Empresa</label>
                <input id="text-empresa" type="text" [(ngModel)]="modeloItem.descripcionEmpresa" pInputText disabled>
            </div>
            <div class="ui-g-12 ui-md-2">
                <label class="label-custom" for="text-granja">Granja</label>
                <input id="text-granja" type="text" [(ngModel)]="modeloItem.codigoPlanta" pInputText disabled>
            </div>
            <div class="ui-g-12 ui-md-1">
                <label class="label-custom" for="text-edad">Edad</label>
                <input id="text-edad" type="number" [(ngModel)]="modeloItem.edad" pInputText disabled>
            </div>
            <div class="ui-g-12 ui-md-2">
                <label class="label-custom" for="text-sexo">Sexo</label>
                <input id="text-sexo" type="text" [(ngModel)]="modeloItem.sexo" pInputText disabled>
            </div>
            <div class="ui-g-12 ui-md-2">
                <label class="label-custom" for="text-zona">Zona</label>
                <input id="text-zona" type="text" [(ngModel)]="modeloItem.zona" pInputText disabled>
            </div>
            <div class="ui-g-12 ui-md-1">
                <label class="label-custom" for="text-galpon">Galpón</label>
                <input id="text-galpon" type="number" [(ngModel)]="modeloItem.galpon" pInputText disabled>
            </div>
            <div class="ui-g-12 ui-md-1">
                <label class="label-custom" for="text-nroPollos">N° Pollos</label>
                <input id="text-nroPollos" type="number" [(ngModel)]="modeloItem.nroPollos" pInputText disabled>
            </div>
        </div>
    </p-panel>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <button class="button-custom" pButton type="button" label="{{globalConstants.cDesplegar}}" icon="{{globalConstants.icoDesplegar}}" (click)="goDisplayControles()"></button>
        </div>
    </div>

    <p-panel header="Detalle" [toggleable]="true" [collapsed]="!displayControles" [style]="{'margin-bottom':'20px'}">
        <p-accordion [multiple]="true">
            <p-accordionTab header="Pesos ídices de órganos linfoides" [selected]="displayControles">
                <p-table [value]="modeloItem.listaTxSIMIndiceBursal" [columns]="columnasIndiceBursal" [paginator]="true" [rows]="6" dataKey="ave" autoLayout="true" [responsive]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri>
                        <tr>
                            <td class="action-td">
                                <span class="ui-column-title">Ave</span> {{rowData.ave}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Peso Corporal (g)</span> {{rowData.pesoCorporal}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Peso Bursa (g)</span>{{rowData.pesoBursa}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Peso de Bazo (g)</span>{{rowData.pesoBazo}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Peso de Timo (g)</span>{{rowData.pesoTimo}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Peso de Hígado (g)</span>{{rowData.pesoHigado}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Índice Bursal</span> {{rowData.indiceBursal}}
                            </td>
                            <td class="action-td ">
                                <span class="ui-column-title">Índice Timico</span> {{rowData.indiceTimico}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Índice Hepático</span> {{rowData.indiceHepatico}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Bursómetro</span>{{rowData.bursometro}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>
            <p-accordionTab [selected]="displayControles">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-4">
                        <p-fieldset legend="1. Relación Morfométrica Bursa / Bazo">
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-12">
                                    <label class="label-custom">A favor de la Bursa</label>
                                    <input type="number" [(ngModel)]="modeloItem.relacionAFavorBursa" pInputText disabled>
                                </div>
                                <div class="ui-g-12">
                                    <label class="label-custom">A favor del Bazo</label>
                                    <input type="number" [(ngModel)]="modeloItem.relacionAFavorBazo" pInputText disabled>
                                </div>
                                <div class="ui-g-12">
                                    <label class="label-custom">Relación 1 / 1</label>
                                    <input type="number" [(ngModel)]="modeloItem.relacion1a1" pInputText disabled>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-fieldset legend="2. Apariencia de los pliegues internos de la bursa">
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-12">
                                    <label class="label-custom">Normal</label>
                                    <input type="number" [(ngModel)]="modeloItem.aparienciaNormal" pInputText disabled>
                                </div>
                                <div class="ui-g-12">
                                    <label class="label-custom">Anormal</label>
                                    <input type="number" [(ngModel)]="modeloItem.aparienciaAnormal" pInputText disabled>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-fieldset legend="3. Tamaño y apariencia del Timo">
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-12">
                                    <label class="label-custom">Normal</label>
                                    <input type="number" [(ngModel)]="modeloItem.tamanoNormal" pInputText disabled>
                                </div>
                                <div class="ui-g-12">
                                    <label class="label-custom">Anormal</label>
                                    <input type="number" [(ngModel)]="modeloItem.tamanoAnormal" pInputText disabled>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                </div>

            </p-accordionTab>
            <p-accordionTab header="Sistema Respiratorio" [selected]="displayControles">
                <p-table [value]="modeloItem.listaTxSIMRespiratorio" [columns]="columnasRespiratorio" [paginator]="true" [rows]="6" dataKey="ave" utoLayout="true" [responsive]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri>
                        <tr>
                            <td class="ui-fluid">
                                <span class="ui-column-title">Ave</span> {{rowData.ave}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Sacos aereos</span> {{rowData.sacosAereos}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Cornetes</span> {{rowData.cornetes}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Glotis</span> {{rowData.glotis}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Tráquea</span> {{rowData.traquea}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Pulmones</span> {{rowData.pulmones}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Riñones</span>{{rowData.rinones}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Placas Peyer</span>{{rowData.placaPeyer}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>
            <p-accordionTab header="Sistema Digestivo" [selected]="displayControles">
                <p-table [value]="modeloItem.listaTxSIMDigestivos" [columns]="columnasDigestivo" [paginator]="true" [rows]="6" dataKey="ave" autoLayout="true" [responsive]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri>
                        <tr>
                            <td class="ui-fluid">
                                <span class="ui-column-title">Ave</span> {{rowData.ave}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Duodeno</span> {{rowData.duademo}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Yeyuno</span>{{rowData.yeyuno}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Lleon</span>{{rowData.lleon}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Ciegos</span>{{rowData.ciegos}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Tonsilas C.</span>{{rowData.tonsillas}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Hígado</span>{{rowData.higados}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Molleja</span>{{rowData.molleja}}
                            </td>
                            <td class="action-td">
                                <span class="ui-column-title">Proventriculo</span>{{rowData.proventriculo}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <p-fieldset>
                        <label class="label-custom">Los grados de lesión serán calificados del 1 al 3 según su extensión en el órgano</label>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-md-2">
                                <label class="label-custom">Interpretación</label>
                                <input type="text" [ngModel]="'0.2 - 1'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <label class="label-custom">Lesión</label>
                                <input type="text" [ngModel]="'Leve'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-8">
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <input type="text" [ngModel]="'1.2 - 2'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <input type="text" [ngModel]="'Moderado'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-8">
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <input type="text" [ngModel]="'2.2 - 3'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <input type="text" [ngModel]="'Severo'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-8">
                            </div>

                            <div class="ui-g-12 ui-md-2">
                                <label class="label-custom">Hígado</label>
                                <input type="text" [ngModel]="'Congestión'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <label class="label-custom">.</label>
                                <input type="text" [ngModel]="'1'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-8">
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <input type="text" [ngModel]="'Pálido'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <input type="text" [ngModel]="'2'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-8">
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <input type="text" [ngModel]="'Friable'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <input type="text" [ngModel]="'3'" pInputText disabled>
                            </div>
                            <div class="ui-g-12 ui-md-8">
                            </div>
                        </div>
                    </p-fieldset>
                </div>

            </div>
            <p-accordionTab [selected]="displayControles">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <p-fieldset legend="SCORE DE LESIONES HISTOPATOLÓGICAS DE BURSA">
                            <p-table [value]="modeloItem.listaTxSIMLesionBursa" [columns]="columnasLesionBursal" [paginator]="true" [rows]="6" dataKey="ave" autoLayout="true" [responsive]="true">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            {{col.header}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri>
                                    <tr>
                                        <td class="action-td">
                                            <span class="ui-column-title">Ave</span> {{rowData.ave}}
                                        </td>
                                        <td class="action-td">
                                            <span class="ui-column-title">Valor</span>{{rowData.valor}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-fieldset>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p-fieldset legend="SCORE DE LESIONES HISTOPATOLÓGICAS DE TIMO">
                            <p-table [value]="modeloItem.listaTxSIMLesionTimo" [columns]="columnasLesionTimo" [paginator]="true" [rows]="6" dataKey="ave" autoLayout="true" [responsive]="true">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            {{col.header}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri>
                                    <tr>
                                        <td class="action-td">
                                            <span class="ui-column-title">Ave</span> {{rowData.ave}}
                                        </td>
                                        <td class="action-td">
                                            <span class="ui-column-title">Valor</span>{{rowData.valor}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-fieldset>
                    </div>

                    <div class="ui-g-12">
                        <p-fieldset legend="HALLAZGO DE LESIONES HISTOPATOLÓGICAS DE ÓRGANOS">
                            <p-table [value]="modeloItem.listaTxSIMLesiones" [columns]="columnasLesiones" [paginator]="true" [rows]="1" dataKey="lesionesDeudemo" autoLayout="true" [responsive]="true">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            {{col.header}}
                                        </th>
                                        <th colspan="2">Acciones</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri>
                                    <tr>

                                        <td class="ui-fluid">
                                            <span class="ui-column-title">Lesiones en Duodeno</span>{{rowData.lesionesDeudemo}}
                                        </td>
                                        <td class="ui-fluid">
                                            <span class="ui-column-title">Lesiones en Intestino Medio</span>{{rowData.lesionesIntestinoMedio}}
                                        </td>
                                        <td class="ui-fluid">
                                            <span class="ui-column-title">Lesiones en Hígado</span>{{rowData.lesionesHigado}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-fieldset>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Fotos" [selected]="displayControles">
                <div class="ui-grid ui-fluid">
                    <div class="ui-g-12">
                        <app-galeria-imagen (listUpdate)="listUpdate($event)" [(carouselCars)]="listIma"></app-galeria-imagen>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </p-panel>

    <p-footer>
        <div class="ui-grid ui-fluid">
            <div class="ui-g-12 ui-md-6">
                <label for="float-input-responsable-invetsa">Observación Invetsa:</label>
                <textarea id="float-input-responsable-invetsa" [(ngModel)]="modeloItem.observacionInvetsa" pInputTextarea autoResize="autoResize" placeholder="Ingresar Observación" disabled> </textarea>
            </div>
            <div class="ui-g-12 ui-md-6">
                <label for="float-input-responsable-planta">Observación Planta:</label>
                <textarea id="float-input-responsable-planta" [(ngModel)]="modeloItem.observacionPlanta" pInputTextarea autoResize="autoResize" placeholder="Ingresar Observación" disabled> </textarea>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="p-field">
                    <label for="nombreInvetsa">Responsable Invetsa:</label>
                    <input [disabled]="true" id="nombreInvetsa" [(ngModel)]="modeloItem.responsableInvetsa" type="text" pInputText>
                    <label for="emailInvetsa">Email:</label>
                    <input [disabled]="true" id="emailInvetsa" [(ngModel)]="modeloItem.emailFrom" type="text" pInputText>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="p-field">
                    <label for="nombrePlanta">Responsable Planta:</label>
                    <input id="nombrePlanta" [(ngModel)]="modeloItem.responsableIncubadora" type="text" pInputText disabled>
                    <label for="emailPlanta">Email:</label>
                    <input id="emailPlanta" [(ngModel)]="modeloItem.emailTo" type="text" pInputText disabled>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button [disabled]="modeloItem.flgCerrado" pButton type="button" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onGrabar()"></button>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="onBack()"></button>
            </div>
        </div>
    </p-footer>
</div>

<p-messages [(value)]="mensajePrimeNgService.msgs"></p-messages>

<p-dialog header="Grabar" [(visible)]="displaySave" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

    Guardando Informacion...!!!
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
    </div>

</p-dialog>